<div class="text-center">
    <h3>Minone Team - Webhooks Demo</h3>
    <p><h5>To know our architecture: <a href="https://github.com/minone">https://github.com/minone</a></h5></p>
</div>
<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Register Destination</h4>
                </div>
                <div class="panel-body">

                    <form class="form-inline" ng-submit="controller.register()">
                        <div class="form-group">
                            <label for="url">URL:</label>
                            <input type="text" class="form-control" id="url" ng-model="controller.destination.url" required>
                        </div>
                        <div class="form-group">
                            <label for="ct">Content-Type:</label>
                            <input type="text" class="form-control" id="ct" ng-model="controller.destination.contentType" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Predefined Tests</h4>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>URL</th>
                            <th>Content-Type</th>
                            <th>Shared Secret</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>GUID</td>
                            <td>http://blablabla</td>
                            <td>text/html</td>
                            <td>secret</td>
                            <td>
                                <button type="button" class="btn btn-success" ng-click="controller.gravar()">Test Succeed</button>
                            </td>
                        </tr>
                        <tr>
                            <td>GUID</td>
                            <td>http://blablabla</td>
                            <td>text/html</td>
                            <td>secret</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="controller.gravar2()">Test Fail</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Destinations</h3>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>URL</th>
                            <th>Content-Type</th>
                            <th>Shared Secret</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="destination in controller.destinations">
                            <td>{{destination.id}}</td>
                            <td>{{destination.url}}</td>
                            <td>{{destination.contentType}}</td>
                            <td>{{destination.secret}}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="controller.postMessage(destination)">Test</button>
                                <button type="button" class="btn btn-default" ng-click="controller.deleteDestination(destination.id)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Whats Happening in the background?</h4>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#Log Entry</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in controller.logs">
                            <td>{{log.entry}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
