<div class="text-center">
    <h3>Minone Team - Webhooks Demo</h3>
    <p><h5>To know our architecture: <a href="https://github.com/minone">https://github.com/minone</a></h5></p>
</div>
<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Register Destination</h4>
                </div>
                <div class="panel-body">

                    <form name="formRegister" class="form-inline" ng-submit="controller.register()">
                        <div class="form-group">
                            <label for="url">URL:</label>
                            <input type="text" class="form-control" style="width: 350px" id="url" ng-model="controller.destination.url"
                                   required>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="formRegister.$invalid">Register
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Predefined Tests</h4>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>Shared Secret</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{controller.validDestination.url}}</td>
                            <td>{{controller.validDestination.secret}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-block"
                                        ng-click="controller.postDefaultMessage(controller.validDestination)">Test
                                    Succeed
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{controller.invalidDestination.url}}</td>
                            <td>{{controller.invalidDestination.secret}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        ng-click="controller.postDefaultMessage(controller.invalidDestination)">Test
                                    Fail
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Destinations</h3>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>Shared Secret</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="destination in controller.destinations">
                            <td>{{destination.url}}</td>
                            <td>{{destination.secret}}</td>
                            <td>
                                <button type="button" class="btn btn-default"
                                        ng-click="controller.openModalPostMessage(destination)">Post Message
                                </button>
                                <button type="button" class="btn btn-danger"
                                        ng-click="controller.deleteDestination(destination.id)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 10px">
            <button type="button" class="btn btn-warning pull-right" ng-click="controller.deleteLog()">Clear Log
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Whats Happening in the background?</h4>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#Log Entry</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div id="logView"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Post message -->

<script type="text/ng-template" id="postMessage.html">
    <div class="modal-header">
        <h3 class="modal-title">Fill the form with message details</h3>
    </div>

    <form name="formPostMessage" class="form-inline" ng-submit="controller.postMessage()">

        <div class="panel panel-default" style="border:0px">
            <table class="table">
                <tr>
                    <th>Content Type:</th>
                    <td><input type="text" class="form-control" id="ct" ng-model="controller.contentType" required></td>
                </tr>
                <tr>
                    <th>Message Body:</th>
                    <td> <textarea class="form-control" rows="4" style="width: 100%"
                                   ng-model="controller.messageBody" id="messageBody" required></textarea></td>
                </tr>
            </table>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-disabled="formPostMessage.$invalid">
                Post Message
            </button>
            <button class="btn btn-default" type="button" ng-click="controller.cancel()">
                Cancel
            </button>
        </div>

        <form>
</script>
